<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue Practice</title>
    <link href="styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>Looping through lists</h1>
      <ul>
        <li v-for="item in characters">{{ item }}</li>
      </ul>
      <ul>
        <li v-for="(ninja, i) in ninjas">
          {{ i }}. {{ ninja.name }} - {{ ninja.age }}
        </li>
      </ul>
      <!-- vv template instead of <div> since template doesn't render to the DOM, Vue just reads its rules -->
      <template v-for="(ninja, i) in ninjas">
        <h3>{{ i }}. {{ ninja.name }}</h3>
        <p>{{ ninja.age }}</p>
      </template>
      <template v-for="ninja in ninjas">
        <div v-for="(val, key) in ninja">
          <p>{{ key }} - {{ val }}</p>
        </div>
      </template>
    </div>
    <script src="app.js"></script>
  </body>
</html>
